{% if page.comments %}
  <div class="comments" id="comments">
    {% if site.duoshuo and site.duoshuo.shortname or site.duoshuo_shortname %}
      <div class="ds-thread" data-thread-key="{{ page.url | relative_url }}"
           data-title="{{ page.title }}" data-url="{{ page.url | absolute_url }}">
      </div>
    {% elsif site.facebook_sdk.enable and site.facebook_comments_plugin.enable %}
      <div class="fb-comments"
           data-href="{{ page.url | absolute_url }}"
           data-numposts="{{ site.facebook_comments_plugin.num_of_posts }}"
           data-width="{{ site.facebook_comments_plugin.width }}"
           data-colorscheme="{{ site.facebook_comments_plugin.scheme }}">
      </div>
    {% elsif site.vkontakte_api.enable and site.vkontakte_api.comments %}
      <div id="vk_comments"></div>
    {% elsif site.disqus.enable %}
      <div id="disqus_thread">
        <noscript>
          Please enable JavaScript to view the
          <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
        </noscript>
      </div>
    {% elsif site.hypercomments_id %}
      <div id="hypercomments_widget"></div>
    {% elsif site.gentie_productKey %}
      <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
    {% elsif site.gitalk.enable %}
      <div id="gitalk-container"></div>
    {% elsif site.youyan_uid %}
      <div id="uyan_frame"></div>
    {% elsif site.livere_uid %}
      <div id="lv-container" data-id="city" data-uid="{{ site.livere_uid }}"></div>
    {% elsif site.changyan.appid and site.changyan.appkey %}
      <div id="SOHUCS"></div>
    {% elsif site.wildfire.enable %}
      <div class="wildfire_thread"></div>
    {% elsif site.valine_comment.enable %}
      <div id="valine_comments"></div>
    {% endif %}
  </div>
{% endif %}
