// Custom styles.
.sidebar {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 6px #dbdbdb;
    border-radius: 32px;
}
.sidebar-inner {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 6px #dbdbdb;
    border-radius: 32px;
}
.header-inner {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 6px #dbdbdb;
    border-bottom-right-radius:32px;
    border-bottom-left-radius:32px;
}
.footer {
    font-size: 16px;
    color: #434343;
}

// 代码块自定义样式
code {
    color: #3181d4;
    background: #fbf7f8;
    margin: 0px;
    padding: 0px 0px;
    border-radius: 32px;
}
.highlight, pre {
    margin: 8px 0;
    padding: 8px;
    border-radius: 16px;
}
.highlight, code, pre {
    border: 4px solid #dbdbdb00;
}
pre, .highlight {
    line-height: 1.2;
}

//主页文章边框阴影效果
.content-wrap {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 13px #dbdbdb;
    border-bottom-right-radius:64px;
    border-bottom-left-radius:64px;
}
//文章引言与标题保持间隔
p {
    margin: 40px 0 25px 0;
}

//归档文章圆点
.posts-collapse .post-header::before {
    top: 12px;
    background: #bbb;
}

//归档处下划线
.posts-collapse .post-header {
    transition-timing-function: cubic-bezier(1, 0.01, 0.26, 1);
    border-bottom: 0px dashed #f9f9f900;
}
//归档间距
article {
    line-height: 1.6;
}

//首页点击查看圆润按钮
.post-button .btn {
    font-size: 14px;
    border-radius: 16px;
}
//下一页按钮○化
.page-number-basic, .pagination .prev, .pagination .next, .pagination .page-number, .pagination .space {
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;
}
//选中圆化
.menu .menu-item a {
    border-radius: 32px;
}
//头像圆化
.site-author-image {
    border-radius: 100%;
}
//搜索圆化
.local-search-popup #local-search-result {
    border-radius: 32px;
}
.local-search-popup .local-search-header {
    padding: 12px;
    height: 32px;
    border-radius: 32px;
}
.local-search-popup {
    border-radius: 32px;
}